/*==========================================
SCROLL REVEAL
==========================================*/

.hidden{

    opacity:0;

    transform:translateY(70px);

    transition:

        opacity .9s ease,

        transform .9s ease;

}

.show{

    opacity:1;

    transform:translateY(0);

}

/*==========================================
STAGGER ANIMATION
==========================================*/

.stagger{

    opacity:0;

    transform:translateY(60px);

    transition:

        opacity .8s ease,

        transform .8s ease;

}

.stagger.show{

    opacity:1;

    transform:translateY(0);

}

.stagger:nth-child(1){transition-delay:.08s;}
.stagger:nth-child(2){transition-delay:.16s;}
.stagger:nth-child(3){transition-delay:.24s;}
.stagger:nth-child(4){transition-delay:.32s;}
.stagger:nth-child(5){transition-delay:.40s;}
.stagger:nth-child(6){transition-delay:.48s;}