/*==========================================
BACK TO TOP
==========================================*/

#backToTop{

    position:fixed;

    right:35px;

    bottom:35px;

    width:56px;

    height:56px;

    border:none;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        var(--primary),
        var(--secondary)
    );

    color:#fff;

    font-size:1.4rem;

    cursor:pointer;

    opacity:0;

    visibility:hidden;

    transform:translateY(20px);

    transition:.35s;

    z-index:999;

    box-shadow:0 15px 40px rgba(59,130,246,.35);

}

#backToTop.show{

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}

#backToTop:hover{

    transform:translateY(-5px);

}