/* ==========================================
PRELOADER
========================================== */

#loader{

position:fixed;

inset:0;

background:
radial-gradient(circle at top,#101A38 0%,#05070B 45%,#020306 100%);

display:flex;

justify-content:center;

align-items:center;

z-index:99999;

transition:opacity .8s ease,
visibility .8s ease;

}

#loader.hide{

opacity:0;

visibility:hidden;

pointer-events:none;

}

.loader-content{

display:flex;

flex-direction:column;

align-items:center;

gap:18px;

}

.loader-content h1{

font-family:var(--font-heading);

font-size:clamp(4rem,8vw,6rem);

font-weight:800;

letter-spacing:10px;

color:var(--text);

text-shadow:
0 0 15px rgba(59,130,246,.25),
0 0 40px rgba(59,130,246,.15);

animation:logoPulse 2s ease infinite;

}

@keyframes logoPulse{

0%,100%{

transform:scale(1);

}

50%{

transform:scale(1.04);

}

}

.loader-content p{

font-family:var(--font-code);

font-size:.8rem;

letter-spacing:6px;

text-transform:uppercase;

color:var(--text-muted);

animation:flicker 2s infinite;

}

@keyframes flicker{

0%,100%{

opacity:1;

}

50%{

opacity:.45;

}

}

.loader-line{

margin-top:8px;

width:180px;

height:2px;

background:rgba(255,255,255,.08);

overflow:hidden;

border-radius:20px;

}

.loader-line span{

display:block;

width:0;

height:100%;

background:
linear-gradient(
90deg,
var(--primary),
var(--secondary)
);

animation:loadingLine 1.6s ease forwards;

box-shadow:var(--glow);

}

@keyframes loadingLine{

to{

width:100%;

}

}