/*==========================================
PROCESS
==========================================*/

#process{

    padding:160px 0;

    background:var(--surface);

}

.process-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

    margin-top:70px;

}

.process-card{

    padding:40px 30px;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(255,255,255,.08);

    border-radius:24px;

    transition:.35s;

}

.process-card:hover{

    transform:translateY(-10px);

    border-color:var(--primary);

}

.process-card span{

    font-size:3rem;

    font-weight:800;

    color:rgba(59,130,246,.25);

}

.process-card h3{

    margin:20px 0 15px;

}

.process-card p{

    color:var(--text-light);

}